@font-face {
    font-family: default;
    src: url("font5");
    --font-spacing: -0.25;
    --font-shift: 0;
    --font-leading: 0;
    --font-baseline: 30;
}

@font-face {
    font-family: bold;
    src: url("font5");
    --font-spacing: -0.25;
    --font-shift: 0;
    --font-leading: 0;
    --font-baseline: 30;
}

@font-face {
    font-family: outline;
    src: url("font5");
    --font-spacing: -0.25;
    --font-shift: 0;
    --font-leading: 0;
    --font-baseline: 30;
}

@font-face {
    font-family: numbers;
    src: url("font4");
    --font-spacing: -0.25;
    --font-shift: -5;
    --font-leading: -5;
    --font-baseline: 30;
}

@font-face {
    font-family: title;
    src: url("font6");
    --font-spacing: -0.25;
    --font-shift: 0;
    --font-leading: 0;
    --font-baseline: 30;
}
