/* Windows */

.dialog_back {
    border-image-source: url("panel_white_normal_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
}

.dialog_window {
    border-image-source: url("window_dialog_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
    width: 600px;
    height: 300px;
}

.small_dialog_window {
    border-image-source: url("window_dialog_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 75%;
    width: 300px;
    height: 100px;
}

/* Frames */

.light_frame {
    border-image-source: url("panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    --clip-margin: 2px 2px 2px 2px;
    background-size: 75%;
}

.black_frame {
    border-image-source: url("panel_black_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    --clip-margin: 2px 2px 2px 2px;
    background-size: 75%;
}

.blue_frame {
    border-image-source: url("window_dialog_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 40%;
}

.simple_panel {
    border-image-source: url("select");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
}

.white_panel {
    border-image-source: url("panel_white_normal_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
    width: 100px;
    height: 100px;
}

.blue_panel {
    border-image-source: url("frame_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
    width: 100px;
    height: 100px;
}

.dark_panel {
    border-image-source: url("panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-color: #000000;
    background-color-opacity: 40%;
    background-size: 25%;
}

.darker_panel {
    border-image-source: url("panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-color: #000000;
    background-color-opacity: 80%;
    background-size: 25%;
}

.light_panel {
    border-image-source: url("frame_white_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-color: #ffffff;
    background-color-opacity: 5%;
    background-size: 50%;
}

/* Individual panel controls */

.paperdoll_panel {
    border-image-source: url("panel_doll_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 70%;
    width: 100px;
    height: 100px;
}

.map_background_frame {
    border-image-source: url("panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
}

.top_panel {
    border-image-source: url("top_panel_3");
    border-image-slice: 0 33.3333% fill;
    border-image-repeat: stretch;
}

.tab_panel {
    border-image-source: url("tab_panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 75%;
}

/* Backgrounds */

.white_back {
    background-repeat: imagestretch;
    background-image: url("white");
}

.back_pattern {
    background-repeat: imagetiled;
    --background-depth: backclipped;
    background-image: url("back_pattern");
    background-size: 100%;
    background-color-opacity: 4%;
    overflow: hidden;
}

.map_background {
    overflow: hidden;
}

.hex_field {
    border-image-source: url("hex_field_3");
    border-image-slice: 0 33.3333% fill;
    border-image-repeat: stretch;
}
