.talent_name_text {
    font-size: 0.25em;
    color: #ffffff;
}

    .talent_name_text:disabled {
        font-size: 0.25em;
        color: #aaaaaa;
    }

.talent_name {
    border-image-source: url("panel_dark_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 10%;
    background-color-opacity: 30%;
    padding: 4px 4px 4px 4px;
}

.talent_button {
    background-image: url("hhex_button_black");
    background-repeat: imagefit;
    width: 72px;
    height: 72px;
}

    .talent_button > .button_label {
        font-size: 0.3em;
        font-family: default;
        padding: 68px 0px 0px 0px;
    }

    .talent_button > .button_image {
        padding: 8px 8px 8px 8px;
    }

    .talent_button:hover {
        background-image: url("hhex_button_black_selection");
    }

    .talent_button:focus {
        background-image: url("hhex_button_black_selection");
    }

    .talent_button:disabled {
        background-color-opacity: 50%;
        color: #808080;
        background-color: #808080;
    }

    .talent_button.talent_button_empty {
        font-size: 0.4em;
        --button-text-padding: 0px 0px 0px 0px;
    }

.talent_mark_empty_button {
    background-color: #88aaee;
    background-image: url("talent_mark_empty");
}

    .talent_mark_empty_button:hover {
        background-image: url("talent_mark_empty");
        background-color: #ffaa33;
    }

    .talent_mark_empty_button:disabled {
        background-color: #666666;
        background-image: url("talent_mark_empty");
    }

    .talent_mark_empty_button:focus {
        background-image: url("talent_mark_full");
        background-color: #ffffff;
    }

.talent_mark_full_button {
    background-image: url("talent_mark_full");
    background-color: #ffaa00;
}

    .talent_mark_full_button:focus {
        background-image: url("talent_mark_full");
        background-color: #0ab1e6;
    }

    .talent_mark_full_button:disabled {
        background-image: url("talent_mark_full");
        background-color: #ffffff;
    }
