@font.default {
    --font-resource: url("font5");
    --font-spacing: 0;
    --font-shift: 0;
    --font-leading: 0;
    --font-baseline: 30;
}

window {
    border-image-source: url("window_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 75%;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

panel {
    border-image-source: url("window_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

label, text {
    font-family: default;
    font-size: 0.6em;
    color: #ffffff;
    width: 100px;
    height: 35px;
    overflow: visible;
}

text {
    font-family: default;
    font-size: 0.6em;
    color: #ffffff;
}

textedit, textfield {
    border-image-source: url("panel_white_hovered_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 25%;
    font-family: default;
    font-size: 0.5em;
    width: 200px;
    height: 45px;
    color: #aaaaaa;
    overflow: hidden;
    --clip-margin: 1px 2px 3px 2px;
    --cursor-color: #ffffff;
}

textedit:focus, textfield:focus {
    border-image-source: url("panel_white_normal_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    color: #ffffff;
}

textedit:focus:hover, textfield:focus:hover {
    background-color: #ffee88;
}

textedit:hover, textfield:hover {
    background-color: #ffee88;
}

#scrollview_hscroll {
    border-image-source: url("scroll_horizontal");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
}

#scrollview_htrack {
    border-image-source: url("scroll_indicator_horizontal");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
}

#scrollview_vscroll {
    border-image-source: url("scroll_vertical");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
}

#scrollview_vtrack {
    border-image-source: url("scroll_indicator_vertical");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
}

context_menu {
    border-image-source: url("panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
    padding: 4px 4px 4px 4px;
}

context_menu_item {
    background-repeat: none;
    font-family: default;
    font-size: 0.5em;
    color: #cceeff;
    padding: 4px 2px 4px 2px;
}

context_menu_item:hover {
    background-repeat: none;
    background-size: 50%;
    color: #ffffff;
}

.tooltip {
    border-image-source: url("panel_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
    padding: 14px 14px 16px 14px;
    overflow: hidden;
}

button {
    border-image-source: url("button_white_normal_3");
    border-image-slice: 0 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
    width: 120px;
    height: 40px;
    font-family: default;
    font-size: 0.6em;
    color: #ffffff;
}

button:hover {
    border-image-source: url("button_white_hovered_3");
    border-image-slice: 0 33.3333% fill;
    border-image-repeat: stretch;
    color: #ffffff;
}

button:disabled {
    border-image-source: url("button_white_normal_3");
    border-image-slice: 0 33.3333% fill;
    border-image-repeat: stretch;
    background-color-opacity: 50%;
    background-color: #aaaaaa;
    color: #808080;
}

button:disabled:hover {
    border-image-source: url("button_white_hovered_3");
    border-image-slice: 0 33.3333% fill;
    border-image-repeat: stretch;
    color: #aaaaaa;
    background-color-opacity: 50%;
    background-color: #aaaaaa;
}

checkbox {
    background-repeat: imagefit;
    background-image: url("checkbox_back_normal");
    width: 40px;
    height: 40px;
    color: #cceeff;
}

checkbox:focus {
    background-image: url("checkbox_back_normal");
    color: #ffffff;
}

checkbox:hover {
    background-image: url("checkbox_back_hovered");
    color: #ffffff;
}

checkbox:focus:hover {
    background-image: url("checkbox_back_hovered");
    color: #cceeff;
}

checkbox:disabled {
    background-image: url("checkbox_back_hovered");
    color: #888888;
}

checkbox #checkbox_image {
}

checkbox #checkbox_image:hover {
}

.back_pattern {
    background-repeat: imagetiled;
    --background-depth: backclipped;
    background-image: url("back_pattern");
    background-size: 100%;
    background-color-opacity: 4%;
    overflow: hidden;
    --clip-margin: 2px 2px 2px 2px;
}

.text_button {
    background-repeat: none;
    font-family: default;
    font-size: 0.6em;
    color: #cceeff;
}

.text_button:hover {
    background-repeat: none;
    color: #ffffff;
}

.image_button {
    background-repeat: none;
    width: 64px;
    height: 64px;
}

.image_button:hover {
    border-image-source: url("panel_white_hovered_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 50%;
}

.dialog_window {
    border-image-source: url("window_dialog_9");
    border-image-slice: 33.3333% fill;
    border-image-repeat: stretch;
    background-size: 100%;
    width: 600px;
    height: 300px;
}

