.main {
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special {
    color: black;
    font-weight: bold;
}

#bb {
    background-color: blue;
    color: yellow
}

ul li ul li {
    background-color: gray;
}

.tmp.tmp2 {
    color: red;
}

.tmp2 {
    background-color: green;
    color: green;
}
